@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #efefef;
}

h1 {
    font-size: 50px;
    padding: 10vh 0 0;
}

h2 {
    font-size: 30px;
    padding: 0 0 2vh;
}

p {
    text-align: center;
    padding-bottom: 30px;
}

a {
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
}

.docu {
    background-color: #398be0;
}

.npm {
    background-color: #e03939;
}